html, body {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    background-color: #1A2226;
}
body{
    width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #1A2226;
}

#nav{
    border-radius: 0 0 15px 15px;
    border-bottom: 3px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.sect1{
    width: 100%;
}

.coverimg{
    width: 70%;
    height: 400px;
    position: absolute;
    float: left;
}

.imgbtn{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.btnimg{
    background-color: #d9d9d98a;
    height: 65px;
    width: 195px;
    color: black;
    font-weight: bold;
    border-radius: 35px;
    position: relative;
    top: 40%;
    left: 40%;
    border: 1px solid white;
    text-decoration: none;
}

.lastupdate{
    background-color: #8B8C8C;
    width: 30%;
    height: 400px;
    float: right;
    padding: 10px 10px 0 10px;
}

.imglu{
    width: 100%;
    height: 35%;
    object-fit: cover;
}

.lulu{
    padding: 0;
}

.liup{
    margin: 10px 0;
    list-style: none;
    font-size: large;
}

.articulos{
    float: none;
    width: 100%;
    background-color: #1A2226;
}

.background{
    width: 100%;
    height: 50px;
    background: linear-gradient(270deg, #d9d9d900, #8B8C8C);
    font-size: xx-large;
    color: black;
}

.backgroundo{
    width: 100%;
    height: 50px;
    background: linear-gradient(90deg, #d9d9d900, #8B8C8C);
    font-size: xx-large;
    color: white;
    text-align: right;
}

.sect2, .sect4, .sect6{
    width: 100%;
    float: none;
    align-content: center;
    vertical-align: center;
    margin: auto;
    background: linear-gradient(270deg, #d9d9d900, #8B8C8C);
}

.sect3, .sect5, .sect7{
    width: 100%;
    float: none;
    background: linear-gradient(to right, #d9d9d900, #8B8C8C);
}

.card-body{
    background-color: #0D0D0D;
}

#Samsung{
    color: white;
}

.card-text{
    color: white;
}

table{
    width: 80%;
    border-collapse: collapse;
    margin: auto;
    color: white;
    border-radius: 30px;
}

.inner-left, .inner-right, .inner-center{
    border-bottom: 1px solid white;
    padding: 5px;
}

.inner-left, .inner-center{
    border-right: 1px solid white;
    padding: 5px;
}

.inner-left{
    text-align: right;
}

.inner-center, .inner-right{
    text-align: center;
}

.inner-bot{
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.form{
    background-color: #D9D9D9;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 350px;
    margin: 15px auto;
    border-radius: 35px;
    border: 1px solid black;
    
}

.name{
    background-color: #D9D9D9;
    width: 80%;
    margin: 5px auto;
    padding: 8px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}

textarea{
    background-color: #D9D9D9;
    width: 80%;
    margin: 20px auto;
    padding: 8px;
    border: 1px solid black;
    border-radius: 10px 10px 35px 35px;
    text-align: center;
}

.btnS{
    margin: 10px auto 0 auto;
    width: 40%;
    background-color: #1a22268e;
    color: white;
    border: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 20px;
}

.sect7{
    width: 100%;
    height: 320px;
    float: none;
    margin: 0;
}

.sect1c{
    width: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.cxreview1{
    margin: 0 15px;
    background-color: #0D0D0D;
    max-width: 35%;
    height: 250px;
    padding: 10px 15px 15px 15px;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.imgsect7{
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 0 10px 0;
}

.footer{
    margin: 0;
    background-color: #1A2226;
    background: linear-gradient(to right, #d9d9d900, #8B8C8C);
}

footer{
    background-color: #737373;
    width: 100%;
    height: 100px;
    margin: 0;
    float: none;
    padding: 10px;
    border-radius: 15px 15px 0 0;
}

.rsc, .bnavc, .textf{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.rs, .bnav{
    text-decoration: 0;
    color: white;
}

.rs{
    margin: 0 15px 5px 15px;
    height: 15px;
    width: 15px;
}

.bnav{
    margin: 5px 15px 5px 15px;
}

.textf{
    color: white;
}

.bnav:hover {
    font-weight: bold;
}